<div class="ui two column middle aligned relaxed vertical segment grid" style="padding-top: 70px">
  <div class="column">
    <!-- 使用者登入 -->
  	<h2 class="ui header"> <%= t("sessions.new.title",default:"User Login") %> </h3>
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <!-- 帳戶 -->
	    <%= f.input :email, label: t("sessions.new.email",default:"Account(email)"), required: false, autofocus: true, placeholder: t("sessions.new.email_placeholder",default:"Your email)") %>
      <!-- 密碼 -->
	    <%= f.input :password, label: t("sessions.new.password",default:"Password"), required: false %>
	    <%= f.input :remember_me, wrapper: :checkbox, as: :boolean if devise_mapping.rememberable? %>

	    <%= f.button :submit, "Log in" %>
	<% end %>
  </div>
  <div class="ui vertical divider">Or</div>
  <div class="center aligned column">
  <%= content_tag(:a, href: new_user_registration_path, class: "ui big green labeled icon button") do
      concat(content_tag(:i, "", class: "signup icon"))

      concat(t("sessions.new.reg",default:"Register"))
    end
  %>
  </div>
</div>
<%# render "devise/shared/links" %>
