<style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
</style>

<div class="ui middle aligned center aligned grid">
  <div class="column left aligned">
    <h2 class="ui teal image header">
      <%= image_tag("logo.png", class: "image") %>
      <div class="content">
        Forgot your password?
      </div>
    </h2>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), class: "ui large form") do |f| %>
      <div class="ui stacked segment">
        <%= f.input :email, wrapper: :input_icon_left, required: true, autofocus: true, placeholder: "E-mail address", icon_html: { class: "user icon" }  %>
        <%= f.button :submit, "Send me reset password instructions", class: "ui fluid large teal submit button" %>
      </div>
      <div class="ui error message">
      	<%= f.error_notification %>
      </div>
    <% end %>
    <div class="ui message">
      <%= render "admin/users/shared/links" %>
    </div>
  </div>
</div>
