<!DOCTYPE html>
<html>
	<head>
		<title>Fragrance101</title>
		<%= stylesheet_link_tag    'admin/all', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'admin/all', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
	<%= yield %>
	<%= devise_error_messages %>
	</body>
</html>