<%= simple_form_for @menu do |f| %>
  <div class="ui green segment">
    <div class="ui clearing">
      <h4 class="ui red huge left floated header"><%= @menu.new_record? ? "新增" : "修改" %>選單</h4>
      <div class="ui buttons right floated sticky">
        <%= link_to "取消", :back, class: "ui button" %>
        <div class="or"></div>
        <%= f.button :submit, "保存", :disable_with => "Submiting..."%>
      </div>
    </div>
  	<div class="field">
  		<label>上層選單</label>
  		<div class="four fields">
        <i class="icon"></i>
  		  <%= f.input :caption, placeholder: "標題", :required => true %>
  		  <%= f.input :action, placeholder: "path or url", :required => true %>
        <%= f.input :position, wrapper: :input_dropdown, collection:{'上方'=>'top','側邊'=>'side'}, :required => true, default: 'top'  %>
  		  <%= f.input :seq, input_html: { min: 0 } %>
  		</div>
  	</div>
    <div style="clear:both;"></div>
  	<div class="field">
  		<label style="display:inline;">子選單</label>
  		<%= link_to_add_association '新增', f, :sub_menus, partial: 'menu_fields',
  				"data-association-insertion-node": '.sorting_panel',
  				"data-association-insertion-method": :prepend,
          class: "ui green button",
          style: "float:right" %>
          <!-- data-association-insertion-method # :append or :prepend -->

      <div style="clear:both;"></div>
  		<div class="sorting_panel">
  	  <!-- nested form從這裡開始 -->
      <%= f.simple_fields_for :sub_menus do |sub| %>
        <%= render 'menu_fields', f: sub %>
      <% end %>
  	  <!-- nested form結束 -->
  	  </div>
  	</div>
    <div style="clear:both;"></div>
  </div>
<% end %>


